{% extends 'base.html.twig' %}

{% block title %}
    Nous contacter - {{ parent() }}
{% endblock %}

{% block body %}
<div class="w-50 mx-auto">
    <h1>Nous contacter</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}

        <button class="btn btn-primary d-block w-100" formnovalidate>Envoyer</button>
    {{ form_end(form) }}
</div>
{% endblock %}
