{% extends 'base.html.twig' %}

{% block title %}
    Bienvenue sur mon site - {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Accueil</h1>
{% endblock %}

{% block header %}
    {{ parent() }}
    <li class="nav-item">
        <a class="nav-link" href="#">Item en plus</a>
    </li>
{% endblock %}
